*{
    padding: 0px;
    margin: 0px;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #F5F3F3;
}
.content{
    height: 95vh;
    width: 95vw;
    display: grid;
    grid-template-rows: 30px 1fr 1fr 1fr;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: 
        "one two three four"
        "five five five six"
        "five five five seven"
        "eight nine ten eleven"
    ;
    gap: 5px;
}

.box-shadow{
    box-shadow: 1px 3px 15px #888888;
    background-color: white;
}

.titles{
    display: flex;
    justify-content: center;
    align-items: center;
}
.subContent{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.subContent button{
    padding: 10px 25px;
    color: white;
    font-weight: 600;
    background-color: #4E4D4D;
    border: none;
}

.bold{
    font-size: 25px;
    font-weight: 800;
}

.semi-bold{
    font-size: 18px;
    font-weight: 600;
}

.one {
    grid-area: one;
}
.two{
    grid-area: two;
}
.three{
    grid-area: three;
}
.four {
    grid-area: four;
}
.five {
    /* background-image: url("https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); */
    background-position: center;
    background-size: 100% 100%;
    grid-area: five;
    width: 90%;
}
.five img{
    width: 100%;
    height: 100%;
}

.six {
    grid-area: six;
}
.seven {
    grid-area: seven;
}
.eight {
    grid-area: eight;
}
.nine {
    grid-area: nine;
}
.ten {
    grid-area: ten;
}
.eleven{
    grid-area: eleven;
}

@media screen and (max-width: 767px) {
   body{
    width: 90vw;
   }

   .content{
    margin: 10px;
    display: flex;
    width: 95vw;
    flex-direction: column;
    align-content: center;
  }

   .titles{
    font-size: 14px;
    padding: 5px 0px;
   }

    .four{
    color: white;
    background-color: #4E4D4D;
   }

  .five{
    width: 100%;
  }
  .mobile{
    padding: 10px;
  }
  .mobile button{
    padding: 2px 5px;
    font-size: 13px;
  }
  .mobile p{
    font-size: 11px;
  }
  .bold{
    font-size: 13px;
  }
  .semi-bold{
    font-size: 12px;
  }
}